
<div class="container">
<div>
    <div class="row">
        <h1 class="text-center"><%- post.title %></h1>

        <img src="<%- post.imageUrl %>" style="max-width:1000px;width:100%;">

        <h5>	
            <span class="hashtag" style="padding:3px;" ><%- post.post_created_at_formatted_calendar %></span> 
            <span style="padding:3px;"><span>Honest Cash</span></span> 
        </h5>
    </div>

    <div class="row">
        <ul>
            <li style="vertical-align:middle">
                <a href="/profile/<%- post.user.username %>"><span><%- post.user.username %></span></a>
            </li>
        </ul>
    </div>

    <div class="row">
        <article>
            <%- post.body %>
        </article>
    </div>
	
	<div class="row">
		<p>
		<% for (var index = 0; index < post.userPostHashtags.length; index++ ) { %>
		    <div style="margin:10px;" class="hashtag" ><a  href="/hashtag/<%- post.userPostHashtags[index].hashtag %>">#<%- post.userPostHashtags[index].hashtag %></a></div>
		<% }  %>
	  </p>
	</div>
</div>
